<form action="~/Messages/Index">
    <input id="new" type="submit" value="Send Message" />
</form>

<form action="~/Recieve/Index">
    <input id="recive" type="submit" value="Recive Message" />
</form>
