<form action="~/Messages/Index">
    <input id="new" type="submit" value="Send Message" />
</form>

<form action="~/Recieve/Index">
    <input id="recive" type="submit" value="Recive Message" />
</form>
<form action="~/SearchKeyword/Index">
    <input id="recive" type="submit" value="Search By Message" />
</form>
<form action="~/FilesCompression/Index">
    <input id="new" type="submit" value="Send Files Compression" />
</form>

